.message_box_header {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}

.message-content {
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
}

.sent .message-content {
  background-color: #007bff;
  color: white; 
  align-self: flex-end;
}

.received .message-content {
  background-color: #35934b; 
  color: white; 
  align-self: flex-start;
}

.message-sender {
  margin: 0;
}

.message-text {
  margin: 0;
}

.message-timestamp {
  margin: 0 5px;
}