.direct_message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.message.sent {
  background-color: #e6f7ff; /* Light blue background for sent messages */
  padding: 5px;
  border-radius: 10px;
}

.message.received {
  background-color: #f0f0f0; /* Light gray background for received messages */
  padding: 5px;
  border-radius: 10px;
}