.HomeRoute {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
  }

footer {
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.login-button-login-screen {
  margin-top: 50vh;
  height: 55px;
  width: 110px;
  font-size: large;
}