.HomeRoute {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
  }

footer {
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.login-button-login-screen {
  margin-top: 50vh;
  height: 55px;
  width: 110px;
  font-size: large;
}

.title-card {
  position: relative;
  top: 0%;
  left: 50%;
  margin-top: 9rem;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 9vh;
  width: 50%;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}