.pet-profile-container {
  padding-top: 0rem;
}

.pet-profile-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
}

.pet-profile-header {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #808080d1;
  width: 75%;
  background-color: #ffffff87;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pet-profile-buttons button {
  border: 2px solid #00d7b3d1;
  background-color: #078d91;
}

.pet-profile-buttons button:hover {
  box-shadow: 0 0 50px rgb(255, 84, 0); /* Adds a shadow */
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.pet-profile-buttons button:focus {
  outline: none;
}

.pet-profile-header h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: light;
  margin-bottom: 1rem;
  line-height: 0;
}

.pet-profile-header img {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 0.8rem rgb(0, 20, 255), 0 0 3rem rgb(0, 188, 85);
  transition: all 0.3s ease-in-out;
}

.pet-profile-header img:hover {
  box-shadow: 0 0 50px rgb(255, 84, 0); /* Adds a shadow */
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.pet-profile-body {
  box-shadow: 0 0 10px #808080d1;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #ffffff87;
}

.pet-profile-body td {

}

.pet-profile-body td:first-child {
  font-weight: bold;
}

#pet-photo {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 25%;
}

#petSectionTitle {
  font-size: 1.2rem;
  font-family: Poppins;
  margin-bottom: 1rem;
  line-height: 0.8;
  border-radius: 12px;
  box-shadow: 0 0 10px #808080d1;
  padding: 1rem;
  background-color: #ffffff87;
  width: 5rem;
}