.user-profile-container {
  padding-top: 0rem;
}

.profile__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
}

.profile__header {
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #000000d1;
  box-shadow: 0 0 10px #808080d1;
  width: 40%;
  margin-left: 27.7%;
  margin-right: 50%;
  background-color: #06a7ad16;
}

#friendButton {
  border: 2px solid #00d7b3d1;
  background-color: #078d91;
}

#messageButton {
  border: 2px solid #00d7b3d1;
  background-color: #078d91;
}


#bio {

}

h1.profile__name {
  font-size: 2rem;
  font-weight: bold;
  font-family: light;
  margin-bottom: 1rem;
  line-height: .8;
}

img.profile__image {
  cursor: pointer;
  width: 10rem; 
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 .8rem rgb(0, 20, 255),
  0 0 3rem rgb(0, 188, 85);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 50px rgb(63, 0, 70); /* Adds a shadow */
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

/* Tablet and mobile layout*/

@media only screen and (max-width: 1025px) {
  .user-profile-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__header {
    width: 65%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
  }

  #bio {
    padding-left: 1%;
    padding-right: 1%;
  }

  .profile__buttons {
    scale: 1.3;
  }


  img.profile__image {
    width: 7rem; 
    height: 7rem;
  }

  
}

